<ul><h3>Routes Index : </h3>
<hr>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <br><hr>
<% end %>
<hr>
<%= link_to " DuckController ", ducks_path, notice: " Controller Hit." %><br><br>

<%= link_to " TigerController ", tigers_path, notice: " Controller Hit." %><br><br>

<%= link_to " BallerController ", sports_basketball_player_path("jordan"),notice: " Controller Hit." %><br><br>

<%= link_to " BoxerController ", sports_boxers_path("ali"), notice: " Controller Hit." %><br><br>

</ul>
